.edit-participant-form {
    display: flex;
    flex-direction: column;
}

.edit-participant-form > button {
    margin-top: 16px !important;
}

.edit-participant-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.edit-participant-wrapper > form {
    width: 500px;
}